.root{
    
    -fx-focus-color: #1e74c6;
    -fx-base: #373e43;
    -fx-background-color: #9d9ea3;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-background-color:#373e43;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #373e43;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #9d9ea3;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #373e43;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-bar {
    -fx-background-color: derive(#373e43,20%);
}

.contex-menu{
    -fx-background-color: derive(#373e43,50%);
}

.menu-bar .label{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.choice-box {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #373e43;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.text-field {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-pref-width: 150;
    -fx-background-radius: 30;
    -fx-background-color: #373e43;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-prompt-text-fill: #808080;
    -fx-border-radius: 30;
}

.text-area {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #373e43;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.text-area .content{
    -fx-background-color: #373e43;
}
#signUpLabel{
    -fx-text-fill:#1e74c6;
    
}


